<div class="container-fluid">
    <div class="">
        
        <div class="row border border-dark mt-3">
          
             <h3 class="text-center mb-3 text-warning"> 
                Frontend Developer
             </h3>
             <ag-grid-angular  style="height: 400px;" class="ag-theme-balham" [columnDefs]="columns" [rowData]="row" [animateRows]="true"></ag-grid-angular>

        </div>
        
        <div class="row border border-danger mt-3">
            <h3 class="text-center mb-3 text-primary">
                Backend Developer
            </h3>
        </div>
        <div class="row border border-success mt-3">
            <h3 class="text-center mb-3 text-danger">
                Project Allocation
            </h3>
        </div>
    </div>
    </div>
