<div class="container">
    
        
        <div class="row border border-success border-4 mt-3">
          
             <h3 class="text-center mb-3 text-danger"> 
                Frontend Developers
                
             </h3>
             <hr >
            
             <ag-grid-angular  
             style="height: 205px; width: 100%;"
             class="ag-theme-balham mb-3" 
             [columnDefs]="columns" 
             [rowData]="frontendDevelopersRow" 
             (gridReady)="onGridReady($event)"
             
             [animateRows]="true"
             [pagination]="true"></ag-grid-angular>
          

        </div>
        
        <div class="row border border-success border-4 mt-3">
            <h3 class="text-center mb-3 text-danger">
                Backend Developers
            </h3>
            <hr>
            <ag-grid-angular  
            style="height: 205px;"
            class="ag-theme-balham mb-3" 
            [columnDefs]="columns" 
            [rowData]="backendDevelopersRow" 
            (gridReady)="onGridReady($event)"
            
            [popupParent]=""
            [animateRows]="true"
            [pagination]="true"></ag-grid-angular>
            
        </div>
        <div class="row border border-success border-4 mt-3">
            <h3 class="text-center mb-3 text-danger">
                Project Allocation Team
            </h3>
            <hr>
            <ag-grid-angular  
            style="height: 205px;"
            class="ag-theme-balham mb-3" 
            [columnDefs]="columns" 
            [rowData]="row2" 
            (gridReady)="onGridReady($event)"
            
            [popupParent]=""
            [animateRows]="true"
            [pagination]="true"></ag-grid-angular>
            
        </div>
    </div>
    
  
